<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <link rel="stylesheet" href="style.css" />
        <script src='gameplay.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

		<title>Connect Four</title>
	</head>
	<body>
        <h1>Connect Four</h1>
        <table><tr><td>
        <div class="game">
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                 <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
            <div class="table">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="button"></div>
            </div>
        </div>
        </td><td>
            <div class="buttonReset">
                    <p>New Game</p>
            </div>
            <div class="view">
                <h4 class="display">Player:</h4>
                <div><div class="token player2"></div></div>
            </div>
            </td></tr></table>

            <h2 class="win">Winner!</h2>
            <h3 class="lose">DRAW!</h3>
        
	</body>
</html>